@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/** VOS $VARIABLES Sass ici avant l'importation**/

/*** Importation de Boostrap **/
@import "partials/bootstrap";
@import "partials/_buttons.scss";
/*** Début des styles personnalisés ***/
%titres {
  font-family: "Noto Sans", sans-serif;
}
%texte {
  font-family: "Montserrat", sans-serif;
}
$couleur-texte: #1c384c;
$couleur-titre: #c7374f;
$couleur-secondaire : #6a3268;
$couleur-primaire : #0974AF;
$couleur-fond : #1a5164;
body{
  @extend %texte;
  header {
    margin: 60px;
    border-bottom: 1px solid $couleur-texte;
    h1 {
      color: $couleur-titre;
      @extend %titres;
    }
  }
  main {
  
    h2 {
      @extend %titres;
      color: $couleur-fond;
      margin-bottom: 20px;
    }
    #chart_div {
      height: 400px;
      width: 100%;
      margin-top: 40px;
    }
    .card-title {
      color:$couleur-secondaire;
    }
    dt {
      color :$couleur-primaire;
    }
    dd {
      color: $couleur-texte;
    }
    .btn-danger {
      background-color:$couleur-secondaire;
      border: none;
      &:hover{
          background-color: $couleur-fond
          ;
      }
    }
  }
  footer{
      color: $couleur-primaire;
      border-top: 1px solid $couleur-fond;
      padding: 20px;
      margin: 20px;
  }
}

